name: PR for weekly release
on:
  schedule:
    - cron: '0 13 * * 1'
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: develop
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update report
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: weekly-release-pr
          base: main
          delete-branch: true
          title: 'Automated Weekly Release PR'
          body: |
            This PR deploys the changes in develop to `main`.
          assignees: AstraBert
          reviewers: AstraBert
